// @use  '';
@use "../mixins/breakpoint.scss" as bp;

$bp: (
  base: 0px,
  sm: 540px,
  md: 992px,
  lg: 1280px,
);

@import '../mixins/breakpoint';
.container {
  max-width: calc(1320px + 40px);
  padding: 0 20px;
  margin: 0 auto;
}