$font-normal: 400;
$font-medium: 500;
$font-bold: 700;

$font-family-bold: 'Raleway', sans-serif;
$font-family-light: 'Raleway', sans-serif;
$font-family-medium: 'Raleway', sans-serif;
$font-family-normal: 'Raleway', sans-serif;